.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.validation__error-input {
  border: 1px solid red;
}
.validation__error-title {
  color: red;
  font-weight: 600;
}

.filter_active {
  background-color: orange;
}